@import "variable";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.g-container {
  position: relative !important;
  width: 1200px;
  margin: auto;
  &:before, &:after {
    content: "";
    display: table;
  }
}

.g-row {
  padding: 0;
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.g-cell {
  float: left;
  width: 100%;
}

.m-figure {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 64px;
  height: 103px;
}
.m-figure__figure {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.m-figure__figure-cap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}


.u-btn {
  display: inline-block;
  padding: 10px 0;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  width: 119px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  color: #666;
  &:hover {
    color: #666;
  }
  &.active {
    color: #fff;
    border: 0;
    background: linear-gradient(-52deg, #3AECCF 0%, #05C0FC 97%, #04BEFD 100%);
  }
}

.u-btn-info {
  border-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  &:hover {
    border-color: #fff;
    color: #fff;
  }
}


.u-nav-toggle {
  position: relative;
  background: transparent;
  padding: 0;
  border: 0;
}
.u-nav-toggle__bar {
  display: block;
  width: 30px;
  height: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #989898;
  & + & {
    margin-top: 7px;
  }
}


.u-link {
  position: relative;
  display: inline-block;
  background: transparent;
  padding: 20px 0;
  border: 0;
  height: 60px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  font-size: 16px;
  outline: 0;
  &.active {
    color: @green1!important;
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 30px;
      height: 3px;
      background: @green1;
      content: "";
    }
  }
  &:hover {
    color: @green1;
  }
}

.u-link-arrow {
  position: relative;
  padding: 0 6px 0 0;
  height: 20px;
  line-height: 20px;
  color: @orange1;
  font-size: 16px;
  &:hover {
    color: @orange1;
  }
  &:after {
    position: absolute;
    top: 50%;
    margin-top: -4.5px;
    right: -3px;
    border: 1px solid transparent;
    border-top-color: @orange1;
    border-right-color: @orange1;;
    width: 6px;
    height: 6px;
    content: "";
    -webkit-transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);
    -moz-transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);
    -ms-transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);
    -o-transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);
    transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);
  }
}
//.u-link-arrow__text {
//  font-size: 16px;
//  color: @orange1;
//}
//.u-link-arrow__arrow {
//  position: absolute;
//
//  width: 11.3px;
//}


.f-color-default {
  color: @grey2;
}

.f-color-primary {
  color: @grey1;
}

.f-color-warn {
  color: @orange1;
}

.f-color-info {
  color: @green1;
}

.f-color-white {
  color: #fff;
}


.f-fs-14 {
  font-size: 14px;
}

.f-fs-16 {
  font-size: 16px;
}

.f-fs-18 {
  font-size: 18px;
}

.f-fs-20 {
  font-size: 20px;
}

.f-fs-22 {
  font-size: 22px;
}

.f-fs-24 {
  font-size: 24px;
}

.f-fs-28 {
  font-size: 28px;
}

.f-fs-30 {
  font-size: 30px;
}

.f-fs-34 {
  font-size: 34px;
}

.f-fs-40 {
  font-size: 40px;
}

.f-fs-46 {
  font-size: 46px;
}

.f-tac {
  text-align: center;
}

/**
 * 页面公共样式
 */
.header {
  position: fixed;
  top: 0;
  z-index: 9;
  border: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  .logo-wrap {
    position: absolute;
    top: 8px;
    left: 50px;
    img {
      width: 71.4px;
    }
  }
  .nav {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 0;
    > a {
      margin-left: 62px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .u-nav-toggle {
    display: none;
    position: absolute;
    top: 17px;
    right: 30px;
  }
  .f-fs-24 {
    display: none;
  }
}

.footer {
  position: relative;
  height: 354px;
  .product, .gzhc, .contact, .follow {
    position: absolute;
    top: 67px;
  }
  ul {
    margin-top: 23px;
  }
  img {
    margin-top: 18px;
    width: 110px;
    + img {
      margin-left: 10px;
    }
  }
  .product {
    left: 83px;
  }
  .gzhc {
    left: 291px;
  }
  .contact {
    left: 503px;
  }
  .follow {
    font-size: 0;
    left: 891px;
  }
  .contact {
    p {
      display: inline-block;
      width: 235px;
      vertical-align: top;
    }
  }
  h4 {
    margin: 0;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: @grey1;
  }
  li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: @grey2;
    > a {
      color: @grey2;
    }
  }
}

hr {
  position: absolute;
  top: 292px;
  left: 50px;
  margin: 0;
  width: 1100px;
  height: 1px;
  border: 0;
  background: #e6e6e6;
  + p {
    position: absolute;
    top: 313px;
    left: 176px;
    width: 858px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
  }
}