@import "skin";
@sliderPageCnt: 4;
.main {
  height: 741px;
  background: #fafafa;
  h2 {
    position: absolute;
    top: 196px;
    left: 151px;
    width: 118px;
    height: 42px;
    line-height: 42px;
    letter-spacing: -0.72px;
    + p {
      position: absolute;
      top: 215px;
      left: 279px;
    }
  }
  img[src="/images/dots-china.png"] {
    position: absolute;
    top: 81px;
    left: 189px;
    width: 759px;
  }
  .nav {
    position: absolute;
    top: 204px;
    left: 0;
    &:after {
      position: absolute;
      top: -14px;
      left: 122px;
      width: 1px;
      height: 360px;
      content: "";
      background: #e2e2e2;
    }
    li {
      + li {
        margin-top: 22.5px;
      }
    }
    .u-btn {
      padding: 6px 0;
      border: 0;
      width: 100px;
      height: 32px;
      background: transparent;
      &.active {
        background: linear-gradient(-52deg, #3AECCF 0%, #05C0FC 97%, #04BEFD 100%);
      }
    }
  }
  .g-container > ul {
    position: absolute;
    top: 195px;
    right: 14px;
    text-align: right;
    li + li {
      margin-top: 44.7px;
    }
    p:first-child {
      height: 38px;
      font-size: 0;
      > span {
        line-height: 36px;
        font-size: 30px;
        color: #f57f17;
        letter-spacing: -0.72px;
      }
    }
    p + p {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #333;
      letter-spacing: -0.34px;
    }
  }
}

#arrow-left, #arrow-right {
  position: absolute;
  top: 407px;
  width: 30px;
  &:hover {
    cursor: pointer;
  }
}
#arrow-left {
  left: 151px;
}
#arrow-right {
  left: 881px;
}

.slider {
  position: absolute;
  top: 285px;
  left: 222px;
  width: 620px;
  height: 240px;
  overflow: hidden;
}
.slider__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px * @sliderPageCnt;
  height: 100%;
  font-size: 0;
}
.slider__page {
  display: inline-block;
  width: 620px;
  height: 240px;
  .m-figure {
    float: left;
    margin-top: 35px;
    width: 124px;
    height: 85px;
  }
  .m-figure__figure-cap {
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: -0.29px;
    color: #333;
  }
}