<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>海鹚首页</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link id="index-css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <a class="u-link" href="javascript:void(0);">产品与服务</a>
      <a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a>
      <a class="u-link" href="/introduction">走进海鹚</a>
      <a class="u-link" href="/">加入我们</a>
      <nav id="sub-nav" class="f-none">
        <a class="" href="/products/wisdom-hospital">智慧医院</a>
        <a class="" href="/products/wisdom-hospital">Hicare</a>
        <a class="" href="/products/wisdom-hospital">云医院</a>
        <a class="" href="/products/wisdom-hospital">Hifond</a>
        <a class="" href="/products/wisdom-hospital">云速</a>
      </nav>
    </nav>
  </div>
</header>

<main>
  
  <section id="banner" class="banner f-color-primary">
    <div class="g-container">
      <img id="banner-bg" src="/images/banner-bg-lg.jpg">
      <h1 class="f-fs-46 f-color-warn">海鹚，让医疗变得温暖</h1>
      <p class="f-fs-24 f-color-info">全方位医疗平台服务商</p>
      <!--<nav>-->
      <!--<a class="f-fs-16 f-color-primary" href="/">智慧医院</a>-->
      <!--<a class="f-fs-16 f-color-primary" href="/">Hicare</a>-->
      <!--<a class="f-fs-16 f-color-primary" href="/">云医院</a>-->
      <!--<a class="f-fs-16 f-color-primary" href="/">Hifond</a>-->
      <!--<a class="f-fs-16 f-color-primary" href="/">云速</a>-->
      <!--</nav>-->
      <p class="f-fs-16 f-color-primary">智慧医院 | Hicare | 云医院 | Hifond | 云速 </p>
      <div>
        <img id="logo-circle" src="/images/logo-circle.png" width="193">
        <img id="patient" src="/images/patient.png" width="72.7">
        <img id="doctor" src="/images/doctor.png" width="72.3">
        <img id="hospital" src="/images/hospital.png" width="68.3">
      </div>
    </div>
  </section>
  
  <section id="intelligence" class="intelligence f-color-primary">
    <div class="g-container">
      <h2>智慧医院</h2>
      <p>就医如此便捷</p>
      <div class="figure-wrap g-row">
        
        <div class="g-cell">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/registration.png">
            <figcaption class="m-figure__figure-cap">足不出户即可挂号</figcaption>
          </figure>
        </div>
        <div class="g-cell">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/outpatient-payment.png">
            <figcaption class="m-figure__figure-cap">门诊缴费一键支付</figcaption>
          </figure>
        </div>
        <div class="g-cell">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/report-queries.png">
            <figcaption class="m-figure__figure-cap">检查报告在线查询</figcaption>
          </figure>
        </div>
      
      </div>
      <div class="link-wrap">
        <a class="u-link-arrow" href="#">了解更多</a>
      </div>
      <img id="video" src="/images/video.png" width="600">
    </div>
  </section>
  
  <section id="hicare" class="hicare f-color-primary">
    <div class="g-container">
      <h2>Hicare</h2>
      <p>用心服务，让健康更近一步</p>
      <p class="f-fs-16 f-color-primary">Hicare平台是结合可穿戴硬件设备，基于医院微信服务号（患者端）与企业端（医生端）搭建的旨在可随时随地连接医生与患者的管理平台。</p>
      <div class="link-wrap">
        <a class="u-link-arrow" href="#">了解更多</a>
      </div>
      <img id="grid-lines" src="/images/grid-lines.png" width="668">
      <img id="blood-pressure2" src="/images/blood-pressure2.png" width="60">
      <img id="blood-pressure1" src="/images/blood-pressure1.png" alt="血压" width="91">
      <img id="blood-sugar" src="/images/blood-sugar.png" alt="血糖" width="90">
      <img id="heart-rate1" src="/images/heart-rate1.png" alt="心率" width="91">
      <img id="heart-rate2" src="/images/heart-rate2.png" width="70">
      <img id="doctor-pad" src="/images/doctor-pad.png" width="662">
    </div>
  </section>
  
  <section id="cloud" class="cloud f-color-primary">
    <div class="g-container">
      <h2>云医院</h2>
      <p>信息医院，执掌办公</p>
      <div class="para-wrap">
        <p>简化医院管理<span class="punctuation">，</span></p>
        <p>加速信息传递<span class="punctuation">，</span></p>
        <p>高效连接一切<span class="punctuation">。</span></p>
      </div>
      <div class="link-wrap">
        <a class="u-link-arrow" href="#">了解更多</a>
      </div>
      <img id="pad" src="/images/pad.png" width="500">
      <img id="circle" src="/images/circle.png" width="23">
      <img id="circles" src="/images/circles.png" width="129">
      <img id="notice" src="/images/notice.png" alt="院内通知" width="91">
      <img id="daily-paper" src="/images/daily-paper.png" alt="院长日报" width="91">
      <img id="connection" src="/images/connection.png" alt="高效连接" width="87">
      <img id="meeting-assistant" src="/images/meeting-assistant.png" alt="会议助手" width="77">
      <img id="consultation" src="/images/consultation.png" alt="在线咨询" width="75">
    </div>
  </section>
  
  <section id="hifond" class="hifond f-color-primary">
    <div class="g-container">
      <h2>Hifond</h2>
      <p>微小连接医疗</p>
      <div class="para-wrap">
        <p>一体集成，多卡支持<span class="punctuation">；</span></p>
        <p>医保支付，即时报销<span class="punctuation">；</span></p>
        <p>多行业场景的快速通道<span class="punctuation">；</span></p>
        <p>医护考勤，会议智能管理<span class="punctuation">；</span></p>
        <p>设备远程管理化<span class="punctuation">。</span></p>
      </div>
      <div class="link-wrap">
        <a class="u-link-arrow" href="#">了解更多</a>
      </div>
      <div class="f-tac">
        <img id="hifond1" src="/images/hifond1.png" width="434">
        <img id="hifond2" src="/images/hifond2.png" width="142">
      </div>
    </div>
  </section>
  
  <section id="speed" class="speed f-color-primary">
    <div class="g-container">
      <h2>云速</h2>
      <p>让消费者成为会员</p>
      <div class="para-wrap">
        <p>商户内部人员管理，节省管理成本<span class="punctuation">；</span></p>
        <p>随时随地，资金流水一手掌握<span class="punctuation">；</span></p>
        <p>不止于收银，客户关系维护利器<span class="punctuation">；</span></p>
        <p>丰富的卡券／会员管理，营销精准化<span class="punctuation">。</span></p>
      </div>
      <p>为私立医疗机构提供收款为基础的会员管理体系，配套运营整体解决方案。</p>
      <div class="link-wrap">
        <a class="u-link-arrow" href="#">了解更多</a>
      </div>
      <img id="cloud-collection" src="/images/cloud-collection.png" width="777">
      <img id="coupon" src="/images/coupon.png" alt="卡券" width="91">
      <img id="member" src="/images/member.png" alt="会员" width="91">
      <img id="collection" src="/images/collection.png" alt="收款" width="91">
      <img id="payment-code" src="/images/payment-code.png" alt="付款码" width="91">
    </div>
  </section>
  
  <section class="join f-color-white">
    <div class="g-container">
      <p>如果您已经对我们足够了解，您可以选择</p>
      <div>
        <a class="u-btn u-btn-info" href="#">商务合作</a>
        <a class="u-btn u-btn-info" href="#">加入我们</a>
      </div>
      <p>或者，您也可以感受</p>
      <div>
        <a class="u-btn u-btn-info" href="#">海鹚，让医疗更温暖</a>
      </div>
    </div>
  </section>

</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="#">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/init.js"></script>
<script src="/js/melon.js"></script>
<script src="/js/index.js"></script>
</body>
</html>