<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>加入我们</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/join.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
    </div>
    <nav class="nav">
      <a class="u-link" href="/products/wisdom-hospital">产品与服务</a>
      <a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a>
      <a class="u-link" href="/introduction">走进海鹚</a>
      <a class="u-link active" href="/join">加入我们</a>
    </nav>
  </div>
</header>

<div class="banner f-psr f-color-primary">
  <img src="/images/join-banner-bg.png">
  
  <div class="g-container f-pdt-60">
    <h2 class="f-mgt-60 f-fs-30 f-fw-400 f-color-warn">招聘岗位</h2>
    <p class="f-mgt-20 f-fs-14">
      在这里，你将拥有宽松、愉悦、平等的工作环境，你将收获友爱、尊重、温暖的创业伙伴，更重要的是, 你有可能实现自己最大的价值。简历投递
      <span class="f-color-warn">HR@gzhc365.com</span>。
    </p>
  </div>

</div>

<main id="main" class="f-bg-info f-color-primary">
  <div class="g-container">
    <nav id="nav-category">
      <a class="hot u-link active" href="javascript:void(0)">热门</a>
      <a class="tech u-link" href="javascript:void(0)">技术类</a>
      <a class="product u-link" href="javascript:void(0)">产品类</a>
      <a class="market u-link" href="javascript:void(0)">市场类</a>
      <a class="intern u-link" href="javascript:void(0)">实习生</a>
      <a class="welfare u-link" href="javascript:void(0)">福利介绍</a>
    </nav>
    <section class="f-mgt-55">
      <h3 class="f-fs-14">产品经理（工作地点：长沙）</h3>
      <p class="f-mgt-15 f-fs-14">岗位职责：</p>
      <ol>
        <li class="f-fs-14">负责微信端Html5、移动客户端应用类产品的长期规划；</li>
        <li class="f-fs-14">与运营团队和开发团队一起，研究微信内提升用户粘性的产品模式；</li>
        <li class="f-fs-14">研究线上与线下用户购物流程，尝试各种场景式购物功能和用户体验的创新；</li>
        <li class="f-fs-14">独立承担产品前后台产品规划、需求分析，完成产品原型设计与PRD文档编写；</li>
        <li class="f-fs-14">与开发团队及关联产品团队协作沟通、把控需求、控制变更、协调进度、并对成果物进行验收。</li>
      </ol>
      <p class="f-mgt-25 f-fs-14">岗位要求：</p>
      <ol>
        <li class="f-fs-14">热爱创造，独立，敢于挑战和怀疑；</li>
        <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
        <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
        <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
        <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
        <li class="f-fs-14">有移动端产品经验者优先。</li>
      </ol>
    </section>
    <hr class="f-mgt-15">
    <section class="f-mgt-25">
      <h3 class="f-fs-14">产品经理（工作地点：长沙）</h3>
      <p class="f-mgt-15 f-fs-14">岗位职责：</p>
      <ol>
        <li class="f-fs-14">负责微信端Html5、移动客户端应用类产品的长期规划；</li>
        <li class="f-fs-14">与运营团队和开发团队一起，研究微信内提升用户粘性的产品模式；</li>
        <li class="f-fs-14">研究线上与线下用户购物流程，尝试各种场景式购物功能和用户体验的创新；</li>
        <li class="f-fs-14">独立承担产品前后台产品规划、需求分析，完成产品原型设计与PRD文档编写；</li>
        <li class="f-fs-14">与开发团队及关联产品团队协作沟通、把控需求、控制变更、协调进度、并对成果物进行验收。</li>
      </ol>
      <p class="f-mgt-25 f-fs-14">岗位要求：</p>
      <ol>
        <li class="f-fs-14">热爱创造，独立，敢于挑战和怀疑；</li>
        <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
        <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
        <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
        <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
        <li class="f-fs-14">有移动端产品经验者优先。</li>
      </ol>
    </section>
  
  </div>

</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="/products/wisdom">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/melon.js"></script>
<script src="/js/join.js"></script>
</body>
</html>