<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>加入我们</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/join.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <span class="u-link">产品与服务</span>
          <nav id="sub-nav" class="f-none">
            <a class="sub-nav__link" href="/products/wisdom-hospital">智慧医院</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">Hicare</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">云医院</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">Hifond</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">云速</a>
          </nav>
        </li>
        <li class="nav-item"><a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a></li>
        <li class="nav-item"><a class="u-link" href="/introduction">走进海鹚</a></li>
        <li class="nav-item"><a class="u-link active" href="/join">加入我们</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="banner f-psr f-color-primary">
  <img src="/images/join-banner-bg.png">
  
  <div class="g-container f-pdt-60">
    <h2 class="f-mgt-60 f-fs-30 f-fw-400 f-color-warn">招聘岗位</h2>
    <p class="f-mgt-20 f-fs-14">
      在这里，你将拥有宽松、愉悦、平等的工作环境，你将收获友爱、尊重、温暖的创业伙伴，更重要的是, 你有可能实现自己最大的价值。简历投递
      <span class="f-color-warn">HR@gzhc365.com</span>。
    </p>
  </div>

</div>

<main id="main" class="f-bg-info f-color-primary">
  <div class="g-container">
    <nav id="nav-category">
      <a class="hot u-link active" href="javascript:void(0);">热门</a>
      <a class="tech u-link" href="javascript:void(0);">技术类</a>
      <a class="product u-link" href="javascript:void(0);">产品类</a>
      <a class="market u-link" href="javascript:void(0);">市场类</a>
      <a class="intern u-link" href="javascript:void(0);">实习生</a>
      <a class="welfare u-link" href="javascript:void(0);">福利介绍</a>
    </nav>
    
    <div class="f-mgt-55">
      <section>
        <h3 class="f-fs-14">产品经理（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责微信端Html5、移动客户端应用类产品的长期规划；</li>
          <li class="f-fs-14">与运营团队和开发团队一起，研究微信内提升用户粘性的产品模式；</li>
          <li class="f-fs-14">研究线上与线下用户购物流程，尝试各种场景式购物功能和用户体验的创新；</li>
          <li class="f-fs-14">独立承担产品前后台产品规划、需求分析，完成产品原型设计与PRD文档编写；</li>
          <li class="f-fs-14">与开发团队及关联产品团队协作沟通、把控需求、控制变更、协调进度、并对成果物进行验收。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">热爱创造，独立，敢于挑战和怀疑；</li>
          <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
          <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
          <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
          <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
          <li class="f-fs-14">有移动端产品经验者优先。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">UI设计师（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">本科以上学历，2年以上互联网产品交互设计经验，有成功产品案例；</li>
          <li class="f-fs-14">热爱互联网和移动互联网产品，对用户体验和易用性有深刻的认识；</li>
          <li class="f-fs-14">具备优秀的美学基础及审美能力，能独立完成整个设计过程，对流程图、线框图等交互设计方法熟练应用；</li>
          <li class="f-fs-14">具备团队合作精神，乐于分享；</li>
          <li class="f-fs-14">抗压能力强，能与团队成员一起共同成长；</li>
          <li class="f-fs-14">学习能力强，有移动互联网设计经验优先；</li>
          <li class="f-fs-14">请提供之前移动端产品设计案例。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，计算机相关专业毕业，一年以上软件测试经验；</li>
          <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
          <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
          <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
          <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
          <li class="f-fs-14">有移动端产品经验者优先。</li>
        </ol>
      </section>
    </div>
  
    <div class="f-mgt-55 f-none">
    
      <section>
        <h3 class="f-fs-14">Web前端开发（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责互联网应用系统Web前端产品的设计和开发，实现html/css，Javascript，以及JSP页面的输出。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，一年以上Div+CSS前端开发工作经验，熟练处理浏览器兼容问题；</li>
          <li class="f-fs-14">使用（JavaScript、jQuery库及相关插件）实现页面的动态交互，与后台工程师一起协作完成WEB页面与后业务逻辑的交互；</li>
          <li class="f-fs-14">适时的参与需求讨论以及交互设计，对交互和需求提供建议，对用户可用性，用户体验，用户研究等相关知识有深入的了解和实践经验；</li>
          <li class="f-fs-14">代码编写规范，对Web本质有深刻理解，有丰富的W3C标准，浏览器原理和差异，网站性能优化等方面的知识；</li>
          <li class="f-fs-14">具有良好的分析和解决问题能力，对攻关疑难问题具有浓厚兴趣；</li>
          <li class="f-fs-14">性格乐观开朗，逻辑性强，具有较强的团队合作意识，对工作认真负责，有较强的学习能力，能够很快适应工作；</li>
          <li class="f-fs-14">有 HTML5 和 CSS3 设计经验者优先。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">java软件工程师（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责互联网应用系统后台程序的设计和开发。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，一年以上互联网行业软件开发经验，熟悉Java；</li>
          <li class="f-fs-14">熟悉Windows、Linux系统；</li>
          <li class="f-fs-14">熟悉Oracle数据库的使用；</li>
          <li class="f-fs-14">熟悉Http，掌握Servlet，Web Service编程，了解Json；</li>
          <li class="f-fs-14">熟练掌握Eclipse开发工具的使用；</li>
          <li class="f-fs-14">热爱研发工作，有良好的沟通能力和团队协作能力，乐于钻研、分享和帮助同事。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">软件测试工程师（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">按照项目需求、功能清单，编写测试方案与案例、测试计划，发起测试案例评审；</li>
          <li class="f-fs-14">结合用户使用场景进行测试用例的设计、讨论、完善和维护；</li>
          <li class="f-fs-14">跟踪BUG，推进BUG FIX；</li>
          <li class="f-fs-14">对BUG增长收敛情况进行分析，根据BUG统计数据发布测试报告；</li>
          <li class="f-fs-14">负责测试环境的管理；</li>
          <li class="f-fs-14">负责项目的性能、压力、稳定性测试。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，计算机相关专业毕业，一年以上软件测试经验；</li>
          <li class="f-fs-14">熟悉互联网及移动互联网，熟练使用手机进行测试；</li>
          <li class="f-fs-14">熟悉软件工程、数据库和脚本语言，有自动化和丰富的性能测试经验，熟悉软件性能测试的理论和方法；</li>
          <li class="f-fs-14">能独立完成项目的测试相关工作；</li>
          <li class="f-fs-14">熟练使用各种测试工具和软件，比如LoadRunner、httpload等；</li>
          <li class="f-fs-14">热爱测试工作，有良好的沟通能力和团队协作能力，乐于钻研、分享和帮助同事。</li>
        </ol>
      </section>
      
    </div>
  
    <div class="f-mgt-55 f-none">
  
      <section>
        <h3 class="f-fs-14">产品经理（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责微信端Html5、移动客户端应用类产品的长期规划；</li>
          <li class="f-fs-14">与运营团队和开发团队一起，研究微信内提升用户粘性的产品模式；</li>
          <li class="f-fs-14">研究线上与线下用户购物流程，尝试各种场景式购物功能和用户体验的创新；</li>
          <li class="f-fs-14">独立承担产品前后台产品规划、需求分析，完成产品原型设计与PRD文档编写；</li>
          <li class="f-fs-14">与开发团队及关联产品团队协作沟通、把控需求、控制变更、协调进度、并对成果物进行验收。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">热爱创造，独立，敢于挑战和怀疑；</li>
          <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
          <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
          <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
          <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
          <li class="f-fs-14">有移动端产品经验者优先。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">UI设计师（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">本科以上学历，2年以上互联网产品交互设计经验，有成功产品案例；</li>
          <li class="f-fs-14">热爱互联网和移动互联网产品，对用户体验和易用性有深刻的认识；</li>
          <li class="f-fs-14">具备优秀的美学基础及审美能力，能独立完成整个设计过程，对流程图、线框图等交互设计方法熟练应用；</li>
          <li class="f-fs-14">具备团队合作精神，乐于分享；</li>
          <li class="f-fs-14">抗压能力强，能与团队成员一起共同成长；</li>
          <li class="f-fs-14">学习能力强，有移动互联网设计经验优先；</li>
          <li class="f-fs-14">请提供之前移动端产品设计案例。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，计算机相关专业毕业，一年以上软件测试经验；</li>
          <li class="f-fs-14">有产品思维，经常假想、讨论、分析。逻辑条理清楚，对数据敏感；</li>
          <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
          <li class="f-fs-14">爱观察人，对人的行为敏感，有同理心；</li>
          <li class="f-fs-14">2年以上互联网产品经理或产品设计经验；</li>
          <li class="f-fs-14">有移动端产品经验者优先。</li>
        </ol>
      </section>
  
    </div>
  
    <div class="f-mgt-55 f-none">
    
      <section>
        <h3 class="f-fs-14">产品经理（工作地点：广州）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">能够建立全面的区域销售战略；</li>
          <li class="f-fs-14">制定并组织实施完整的销售方案；</li>
          <li class="f-fs-14">与客户、同行业间建立良好的合作关系；</li>
          <li class="f-fs-14">引导和控制市场销售工作的方向和进度；</li>
          <li class="f-fs-14">组织部门开发多种销售手段，完成销售计划及回款任务；</li>
          <li class="f-fs-14">管理销售人员，帮助建立、补充、发展、培养销售队伍；</li>
          <li class="f-fs-14">掌握市场动态，熟悉市场状况并有独特见解；</li>
          <li class="f-fs-14">主持区域重大营销合同的谈判与签订工作；</li>
          <li class="f-fs-14">进行客户分析，建立客户关系，挖掘用户需求；</li>
          <li class="f-fs-14">深入了解本行业，把握最新销售信息，为企业提供业务发展战略依据；</li>
          <li class="f-fs-14">完成总经理临时交办的其他任务。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">国家统招本科及以上学历，男女不限，医疗器械、医学、医学工程学、市场营销、计算机等相关专业优先；</li>
          <li class="f-fs-14">有3年以上医院销售经验，熟悉医院工作流程，拥有良好的医院资源和销售渠道者优先；</li>
          <li class="f-fs-14">熟悉微信开发模式的各种技术接口，充分了解在微信内html5应用可实现的功能；</li>
          <li class="f-fs-14">熟悉互联网产品，有软件销售工作经验优先考虑；</li>
          <li class="f-fs-14">具有较强的独立工作能力和社交技巧、良好的沟通技巧与团队协作意识；</li>
          <li class="f-fs-14">工作严谨细致、责任心强，能够吃苦耐劳；</li>
          <li class="f-fs-14">能适应不定期出差工作。</li>

        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">UI设计师（工作地点：广州）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">寻找潜在合作伙伴。有运营商、银行、医药公司资源背景互联网经验优先；</li>
          <li class="f-fs-14">与潜在合作伙伴进行商务洽谈和签约；</li>
          <li class="f-fs-14">行业渠道建设，渠道管理和渠道关系维护等工作；</li>
          <li class="f-fs-14">开拓建立地区市场的代理渠道；</li>
          <li class="f-fs-14">管理当地区域代理商经销商；</li>
          <li class="f-fs-14">对区域代理商经销商的销售人员进行培训；</li>
          <li class="f-fs-14">地区市场状况竞争品牌的信息进行调研反馈；</li>
          <li class="f-fs-14">制定当地的市场推广计划及方案；</li>
          <li class="f-fs-14">组织执行当地医院上线的推广方案。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">与代理商的谈判和沟通能力强；</li>
          <li class="f-fs-14">具备快速的学习能力，强烈的市场竞争意识；</li>
          <li class="f-fs-14">具有独立工作能力，勇于接受工作挑战，能够承担目标压力；</li>
          <li class="f-fs-14">较强的商务谈判和独立的市场开拓能力，有渠道开发管理经验者优先考虑；</li>
          <li class="f-fs-14">具有较强的沟通、交际能力、组织协调能力及团队合作精神；乐于面对挑战；</li>
          <li class="f-fs-14">熟练使用Office办公软件，以及互联网浏览；</li>
          <li class="f-fs-14">有较强的项目策划能力和谈判能力，文笔流畅；</li>
          <li class="f-fs-14">丰富的渠道代理开拓能力，丰富的沟通、谈判技巧、渠道管理经验；</li>
          <li class="f-fs-14">具备较强的学习能力及团队合作精神；</li>
          <li class="f-fs-14">性格外向，强烈的事业心及挑战精神；</li>
          <li class="f-fs-14">良好的个人信誉及职业操守。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">客户经理（工作地点：广州）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">全国区域销售，主要负责医院智能化移动医疗服务产品的销售工作及市场推广；</li>
          <li class="f-fs-14">负责相关区域的客户开发、拜访、维护工作并建立客户档案；</li>
          <li class="f-fs-14">熟练了解产品特点，收集潜在客户资料，及时向上级主管反映竞争对手的情况及市场动态、提出合理化建议；</li>
          <li class="f-fs-14">了解和关注区域市场动态，及时收集并反馈客户信息和市场情况；</li>
          <li class="f-fs-14">维护公司重要客户与合作伙伴关系，提供售后优质服务。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">国家统招本科及以上学历，男女不限，医疗器械、医学、医学工程学、市场营销、计算机等相关专业优先；</li>
          <li class="f-fs-14">有1-3年医院销售经验，熟悉医院工作流程，拥有良好的医院资源和销售渠道者优先；</li>
          <li class="f-fs-14">熟悉互联网产品，有软件销售工作经验优先考虑；</li>
          <li class="f-fs-14">具有较强的独立工作能力和社交技巧、良好的沟通技巧与团队协作意识；</li>
          <li class="f-fs-14">工作严谨细致、责任心强，能够吃苦耐劳；</li>
          <li class="f-fs-14">能适应不定期出差工作。</li>
        </ol>
      </section>
  
    </div>
  
    <div class="f-mgt-55 f-none">
    
      <section>
        <h3 class="f-fs-14">客户经理（工作地点：广州）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">全国区域销售，主要负责医院智能化移动医疗服务产品的销售工作及市场推广；</li>
          <li class="f-fs-14">负责相关区域的客户开发、拜访、维护工作并建立客户档案；</li>
          <li class="f-fs-14">熟练了解产品特点，收集潜在客户资料，及时向上级主管反映竞争对手的情况及市场动态、提出合理化建议；</li>
          <li class="f-fs-14">了解和关注区域市场动态，及时收集并反馈客户信息和市场情况；</li>
          <li class="f-fs-14">维护公司重要客户与合作伙伴关系，提供售后优质服务。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">国家统招本科及以上学历，男女不限，医疗器械、医学、医学工程学、市场营销、计算机等相关专业优先；</li>
          <li class="f-fs-14">有1-3年医院销售经验，熟悉医院工作流程，拥有良好的医院资源和销售渠道者优先；</li>
          <li class="f-fs-14">熟悉互联网产品，有软件销售工作经验优先考虑；</li>
          <li class="f-fs-14">具有较强的独立工作能力和社交技巧、良好的沟通技巧与团队协作意识；</li>
          <li class="f-fs-14">工作严谨细致、责任心强，能够吃苦耐劳；</li>
          <li class="f-fs-14">能适应不定期出差工作。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">Web前端开发（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责互联网应用系统Web前端产品的设计和开发，实现html/css，Javascript，以及JSP页面的输出。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，一年以上Div+CSS前端开发工作经验，熟练处理浏览器兼容问题；</li>
          <li class="f-fs-14">使用（JavaScript、jQuery库及相关插件）实现页面的动态交互，与后台工程师一起协作完成WEB页面与后业务逻辑的交互；</li>
          <li class="f-fs-14">适时的参与需求讨论以及交互设计，对交互和需求提供建议，对用户可用性，用户体验，用户研究等相关知识有深入的了解和实践经验；</li>
          <li class="f-fs-14">代码编写规范，对Web本质有深刻理解，有丰富的W3C标准，浏览器原理和差异，网站性能优化等方面的知识；</li>
          <li class="f-fs-14">具有良好的分析和解决问题能力，对攻关疑难问题具有浓厚兴趣；</li>
          <li class="f-fs-14">性格乐观开朗，逻辑性强，具有较强的团队合作意识，对工作认真负责，有较强的学习能力，能够很快适应工作；</li>
          <li class="f-fs-14">有 HTML5 和 CSS3 设计经验者优先。</li>
        </ol>
      </section>
      <hr class="f-mgt-15">
      <section class="f-mgt-25">
        <h3 class="f-fs-14">java软件工程师（工作地点：长沙）</h3>
        <p class="f-mgt-15 f-fs-14">岗位职责：</p>
        <ol>
          <li class="f-fs-14">负责互联网应用系统后台程序的设计和开发。</li>
        </ol>
        <p class="f-mgt-25 f-fs-14">岗位要求：</p>
        <ol>
          <li class="f-fs-14">本科及以上学历，一年以上互联网行业软件开发经验，熟悉Java；</li>
          <li class="f-fs-14">熟悉Windows、Linux系统；</li>
          <li class="f-fs-14">熟悉Oracle数据库的使用；</li>
          <li class="f-fs-14">熟悉Http，掌握Servlet，Web Service编程，了解Json；</li>
          <li class="f-fs-14">熟练掌握Eclipse开发工具的使用；</li>
          <li class="f-fs-14">热爱研发工作，有良好的沟通能力和团队协作能力，乐于钻研、分享和帮助同事。</li>
        </ol>
      </section>
  
    </div>
  
    <div class="f-mgt-55 f-none">
    
      <p>员工福利</p>
      <p>9：15-5：30，双休，国家法定节假日。</p>
      <p>薪资：高于行业标准的月薪。</p>
  
      <p>社保福利</p>
      <p>国家法定节假日；五险一金；年终双薪；带薪年假、病假、婚假、产假；话费补贴；</p>
      <p>交通补贴；餐费补贴；出差补助；节日奖金；人才推荐奖金；不定期的聚餐与丰富活动；公司提供饮料、水果、零食等等。</p>
      <p>(备注 ： 年假：每年至少5天带薪年假，且工作年限每增加1年带薪年假增加1天；</p>
      <p>带薪假期：带薪年假，病假，婚假，产假，陪产假等；</p>
      <p>商业医疗保险：公司购买商业医疗报销，为健康保驾复航；</p>
      <p>面试：外地候选人来深面试，报销往返交通费和住宿费；</p>
      <p>交通：定额交通补助、成员加班的士费全额报销；</p>
      <p>通讯：公司按照岗位需要配备了相应的通讯补助;</p>
      <p>笔记本电脑：分三年全额报销笔记本电脑费用;</p>
      <p>饮料：无限量的各式饮料全天供应；</p>
      <p>健康：在职成员每年1次的健康体检；</p>
      <p>环境：轻松办公环境；</p>
      <p>节日：节日礼金；</p>
      <p>购书：专业书籍资料购买公司全额报销；</p>
      <p>培训：不定期公司内部或外部邀请进行技能提升，经验交流；</p>
      <p>活动：每人每月固定活动经费，可累计；</p>
      <p>旅游：每年公司安排团体旅行；</p>
      <p>更多福利仍在持续扩展中......)</p>
  
      <p>全员持股计划</p>
      <p>公司计划实行全员配股方案，让所有员工享受与公司一起成长的回报。</p>
    </div>



  </div>

</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="/products/wisdom">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/melon.js"></script>
<script src="/js/join.js"></script>
</body>
</html>