<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>海鹚首页</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
</head>
<body>
<header>
  <img src="images/logo.png">
  <nav>
    <a>产品与服务</a>
    <a>合作案例</a>
    <a>走进海鹚</a>
    <a>加入我们</a>
  </nav>
</header>
<main>
  <section>
    <img src="images/banner-bg-lg.jpg">
    <h1>海鹚，让医疗变得温暖</h1>
    <p>全方位医疗平台服务商</p>
    <nav>
      <a>智慧医院</a>
      <a>Hicare</a>
      <a>云医院</a>
      <a>Hifond</a>
      <a>云速</a>
    </nav>
    <img src="images/logo-circle.png">
    <img src="images/doctor.png">
    <img src="images/patient.png">
    <img src="images/hospital.png">
  </section>
  <section>
    <h2>智慧医院</h2>
    <p>就医如此便捷</p>
    <figure>
      <img src="images/registration.png">
      <figcaption>足不出户即可挂号</figcaption>
    </figure>
    <figure>
      <img src="images/outpatient-payment.png">
      <figcaption>门诊缴费一键支付</figcaption>
    </figure>
    <figure>
      <img src="images/report-queries.png">
      <figcaption>检查报告在线查询</figcaption>
    </figure>
    <a href="#">了解更多</a>
  </section>
  <section>
    <h2>Hicare</h2>
    <p>用心服务，让健康更近一步</p>
    <p>Hicare平台是结合可穿戴硬件设备，基于医院微信服务号（患者端）与企业端（医生端）搭建的旨在可随时随地连接医生与患者的管理平台。</p>
    <a>了解更多</a>
    <img src="images/grid-lines.png">
    <img src="images/blood-pressure2.png">
    <img src="images/blood-pressure1.png" alt="血压">
    <img src="images/blood-sugar.png" alt="血糖">
    <img src="images/heart-rate1.png" alt="心率">
    <img src="images/heart-rate2.png">
    
    <img src="images/doctor-pad.png">

  </section>
  <section>
    <h2>云医院</h2>
    <p>信息医院，执掌办公</p>
    <p>简化医院管理</p>
    <p>加速信息传递</p>
    <p>高效连接一切</p>
    <a>了解更多</a>
    <img src="images/pad.png">
    <img src="images/circle.png">
    <img src="images/circles.png">
    <img src="images/notice.png" alt="院内通知">
    <img src="images/daily-paper.png" alt="院长日报">
    <img src="images/payment-code.png" alt="高效连接">
    <img src="images/meeting-assistant.png" alt="会议助手">
    <img src="images/consultation.png" alt="在线咨询">
  </section>
  <section>
    <h2>Hifond</h2>
    <p>微小连接医疗</p>
    <p>一体集成，多卡支持</p>
    <p>医保支付，即时报销</p>
    <p>多行业场景的快速通道</p>
    <p>医护考勤，会议智能管理化</p>
    <p>设备远程管理化</p>
    <a>了解更多</a>
    <img src="images/hifond1.png">
    <img src="images/hifond2.png">
  </section>
  <section>
    <h2>云速</h2>
    <p>让消费者成为会员</p>
    <p>真实内部人员管理，节省管理成本</p>
    <p>随时随地，资金流水一手掌握</p>
    <p>不止于收银，客户关系维护利器</p>
    <p>丰富的卡券／会员管理，营销精准化</p>
    <p>为私立医疗机构提供收款为基础的会员管理体系，配套运营整体解决方案。</p>
    <a>了解更多</a>
    <img src="images/coupon.png" alt="卡券">
    <img src="images/member.png" alt="会员">
    <img src="images/collection.png" alt="收款">
    <img src="images/payment-code.png" alt="付款码">
  </section>
  <section>
    <p>如果您已经对我们足够了解，您可以选择</p>
    <a href="#">商务合作</a>
    <a href="#">加入我们</a>
    <p>或者，您也可以感受</p>
    <a href="#">海鹚，让医疗更温暖</a>
  </section>
</main>
<footer>
  <section>
    <h3>产品与服务</h3>
    <ul>
      <li>智慧医院</li>
      <li>hicare</li>
      <li>云医院</li>
      <li>hifond</li>
      <li>云速</li>
    </ul>
  </section>
  <section>
    <h3>走进海鹚</h3>
    <ul>
      <li>关于海鹚</li>
      <li>团队风采</li>
      <li>公司大记事</li>
      <li>加入我们</li>
    </ul>
  </section>
  <section>
    <h3>联系我们</h3>
    <ul>
      <li>咨询热线：020-83986192</li>
      <li>邮箱：public@gzhc365.com</li>
      <li>地址：广东省广州市天河区马场路庆亿街1号珠光新城国际中心A座706单元</li>
      <li>hifond</li>
      <li>云速</li>
    </ul>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </section>
  
</footer>
</body>
</html>