<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>海鹚大事记</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/events.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <a class="u-link" href="javascript:void(0)">产品与服务</a>
      <a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a>
      <a class="u-link active" href="/introduction">走进海鹚</a>
      <a class="u-link" href="/join">加入我们</a>
    </nav>
  </div>
</header>

<div class="banner">
  <div class="g-container">
    <img src="/images/logo.png" alt="Haici 让医疗更温暖">
    <nav class="nav">
      <a class="u-btn" href="/introduction">海鹚介绍</a>
      <a class="u-btn active" href="/introduction/events">海鹚大事记</a>
      <a class="u-btn" href="/introduction/group">团队风采</a>
    </nav>
  </div>
</div>

<main class="main">
  <div class="g-container">
    <img id="arrow-left" src="/images/arrow-circle-left.png" alt="向前">
    <img id="arrow-right" src="/images/arrow-circle-right.png" alt="向后">
    
    <div class="slider">
      <div id="slider-wrap" class="slider__wrap">
        <div class="slider__item 2017">
          <h4>事件1</h4>
          <p>事件1的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2017-01-22</time>
        </div>
        <div class="slider__item 2017">
          <h4>事件2</h4>
          <p>事件2的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2017-01-22</time>
        </div>
        <div class="slider__item 2017">
          <h4>事件3</h4>
          <p>事件3的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <p class="time">2017-01-22</p>
        </div>
        <div class="slider__item 2017">
          <h4>事件4</h4>
          <p>事件4的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <p class="time">2017-01-22</p>
        </div>
        <div class="slider__item 2017">
          <h4>事件5</h4>
          <p>事件5的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2017-01-22</time>
        </div>
        <div class="slider__item 2016">
          <h4>事件6</h4>
          <p>事件6的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2016-01-22</time>
        </div>
        <div class="slider__item 2016">
          <h4>事件7</h4>
          <p>事件7的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2016-01-22</time>
        </div>
        <div class="slider__item 2016">
          <h4>事件8</h4>
          <p>事件8的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2016-01-22</time>
        </div>
        <div class="slider__item 2015">
          <h4>事件9</h4>
          <p>事件9的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2015-01-22</time>
        </div>
        <div class="slider__item 2015">
          <h4>事件10</h4>
          <p>事件10的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2015-01-22</time>
        </div>
        <div class="slider__item 2015">
          <h4>事件11</h4>
          <p>事件11的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2015-01-22</time>
        </div>
        <div class="slider__item 2014">
          <h4>事件12</h4>
          <p>事件12的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2014-01-22</time>
        </div>
        <div class="slider__item 2014">
          <h4>事件13</h4>
          <p>事件13的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2014-01-22</time>
        </div>
        <div class="slider__item 2014">
          <h4>事件14</h4>
          <p>事件14的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2014-01-22</time>
        </div>
        <div class="slider__item 2014">
          <h4>事件15</h4>
          <p>事件15的内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
          <time class="time">2014-01-22</time>
        </div>
      </div>
    </div>
    
    <nav id="button-wrap" class="nav">
      <button id="2017" class="u-link active" type="button">2017</button>
      <button id="2016" class="u-link" type="button">2016</button>
      <button id="2015" class="u-link" type="button">2015</button>
      <button id="2014" class="u-link" type="button">2014</button>
    </nav>
  </div>
</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="#">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/melon.js"></script>
<script src="/js/events.js"></script>
</body>
</html>