<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>团队风采</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/group.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
    </div>
    <nav class="nav">
      <a class="u-link" href="javascript:void(0)">产品与服务</a>
      <a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a>
      <a class="u-link active" href="/introduction">走进海鹚</a>
      <a class="u-link" href="/join">加入我们</a>
    </nav>
  </div>
</header>

<div class="banner">
  <div class="g-container">
    <img src="/images/logo.png" alt="Haici 让医疗更温暖">
    <nav class="nav">
      <a class="u-btn" href="/introduction">海鹚介绍</a>
      <a class="u-btn" href="/introduction/events">海鹚大事记</a>
      <a class="u-btn active" href="javascript:void(0);">团队风采</a>
    </nav>
  </div>
</div>

<main class="main">
  <div class="g-container">
    
    <div id="group" class="clearfix">
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group1.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group2.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group3.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group4.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group5.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group6.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group7.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group8.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group9.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group10.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group11.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
      <div class="m-image-text">
        <img class="m-image-text__image" src="/images/introduction/group12.jpg">
        <h4 class="m-image-text__text">我是图片标题</h4>
      </div>
    </div>
  
  </div>
</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="/products/wisdom">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/melon.js"></script>
<script src="/js/group.js"></script>
</body>
</html>