<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>海鹚介绍</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/introduction.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div class="navbar-header">
      <img src="/images/logo.png" alt="首页">
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <a class="u-link" href="/">产品与服务</a>
      <a class="u-link" href="/cooperative-patterns">合作案例</a>
      <a class="u-link active" href="/introduction">走进海鹚</a>
      <a class="u-link" href="/">加入我们</a>
    </nav>
  </div>
</header>

<header class="banner">
  <div class="g-container">
    <img src="/images/logo.png" alt="Haici 让医疗更温暖">
    <nav class="nav">
      <a class="u-btn active" href="javascript:void(0);">海鹚介绍</a>
      <a class="u-btn" href="/introduction/events">海鹚大事记</a>
      <a class="u-btn" href="/introduction/group">团队风采</a>
    </nav>
  </div>
</header>

<main class="main">
  <div class="g-container">
    <p>
      广州海鹚网络科技有限公司，简称：海鹚科技，专注于医疗行业，依托移动互联网平台，为医院量身打造全方位的智能移动医疗服务运营平台解决方案。公司成立于2014年5月19日，专注于健康医疗行业，依托移动互联网平台，为医院量身打造全方位的智能移动医疗服务平台解决方案。主营业务包括微信服务号、支付宝服务窗、企业号的智能移动服务平台研发和运营。公司创始人团队多来自医疗行业上市公司管理层。团队扎根于卫生医疗领域，经过多年的行业沉淀，团队在医疗健康服务领域已积累了全国最领先的技术实施、运营管理服务经验和能力。团队在区域医疗信息平台、区域集中式挂号平台、区域集中式诊疗付费平台、医院移动医疗服务平台、移动全流程医疗服务平台等方面有着丰富的经验。熟悉医院预约挂号、挂号、候诊、付费、治疗等业务的流程，了解医院内部的服务流程及工作机制。</p>
    <p>
      公司是微信和支付宝全国战略合作伙伴，是腾讯微信、财付通、支付宝未来医院计划核心成员之一，移动医疗行业多家银行指定合作商。荣获2015年度支付宝最佳合作伙伴、2015年度微信支付智慧医院创新奖、2016年蚂蚁金服金牌合作伙伴、2016年度医疗“天马行空奖”“一马当先奖”等，同时与兴业银行、招商银行、中国银行、建设银行等十多家银行建立了长期稳定的战略合作关系。公司已上线并运营200多家大型三级医院的移动智慧医院，服务患者上百万，行业排名前列。其中粤北人民医院、广东省中医院、广州市妇女儿童医疗中心、上海瑞金医院、武汉协和医院等更是成为行业内的标杆。</p>
    <p>公司目前已经通过高新企业认定，拿到高企培育资金、中小企业创新资金、企业研发机构经费、科技与金融结合资金、创业领军人才资金等，拥有软件著作权18个，商标权5个，专利3个。</p>
    <p>
      公司创造了多个移动医疗行业“首家”——全国首家微信全流程就诊平台医院、全国首家在线医保脱卡付费医院、全国首家处方单扫码支付医院、全国首家信用医院、全国首家电子就诊卡医院、全国首家微信企业号医疗应用医院等等，强势占据市场，赢得良好口碑，我们将不断践行“以客户为中心，以奋斗者为本，长期坚持艰苦奋斗”的企业文化理念，发扬“海鸬鹚”团队协作、风雨无阻的精神，让医疗变得温暖！</p>
  </div>
</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a class="f-fs-14 f-color-default" href="#">智慧医院</a>
        </li>
        <li>
          <a class="f-fs-14 f-color-default" href="#">hicare</a>
        </li>
        <li>
          <a class="f-fs-14 f-color-default" href="#">云医院</a>
        </li>
        <li>
          <a class="f-fs-14 f-color-default" href="#">hifond</a>
        </li>
        <li>
          <a class="f-fs-14 f-color-default" href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#" class="f-fs-14 f-color-default">关于海鹚</a>
        </li>
        <li>
          <a href="" class="f-fs-14 f-color-default">团队风采</a>
        </li>
        <li>
          <a href="" class="f-fs-14 f-color-default">公司大记事</a>
        </li>
        <li>
          <a href="" class="f-fs-14 f-color-default">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li class="f-fs-14">咨询热线：020-83986192</li>
        <li class="f-fs-14">邮箱：public@gzhc365.com</li>
        <li class="f-fs-14">
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

</body>
</html>