<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>合作案例</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/wisdom-hospital.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/respond.js"></script>
  <![endif]-->
</head>
<body>

<header class="header">
  <div class="g-container">
    <div class="navbar-header">
      <img src="/images/logo.png" alt="首页">
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <a class="u-link" href="/">产品与服务</a>
      <a class="u-link active" href="/cooperative-patterns">合作案例</a>
      <a class="u-link" href="/introduction">走进海鹚</a>
      <a class="u-link" href="/">加入我们</a>
    </nav>
  </div>
</header>

<main class="main">
  <div class="g-container">
    <img src="/images/dots-china.png">
    <h2>智慧医院</h2>
    <p>足不出门，即可挂号；门诊缴费，一键支付；检查报告，在线查询</p>
    <nav class="nav">
      <ul>
        <li>
          <a class="u-btn active" href="#">智慧医院</a>
        </li>
        <li>
          <a class="u-btn" href="#">云医院</a>
        </li>
        <li>
          <a class="u-btn" href="#">Hifond</a>
        </li>
        <li>
          <a class="u-btn" href="#">云速</a>
        </li>
        <li>
          <a class="u-btn" href="#">Hicare</a>
        </li>
      </ul>
    </nav>
    <img id="arrow-left" src="/images/arrow-circle-left.png">
    <img id="arrow-right" src="/images/arrow-circle-right.png">
    
    <div class="slider">
      
      <div class="slider__wrap">
        
        <div class="slider__page">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院1</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院2</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院3</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院4</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院5</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院6</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院7</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院8</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院9</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院10</figcaption>
          </figure>
        </div>
        <div class="slider__page">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院11</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院12</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院13</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院14</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院15</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院16</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院17</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院18</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院19</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院20</figcaption>
          </figure>
        </div>
        <div class="slider__page">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院21</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院22</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院23</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院24</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院25</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院26</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院27</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院28</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院29</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院30</figcaption>
          </figure>
        </div>
        <div class="slider__page">
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院31</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院32</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院33</figcaption>
          </figure>
          <figure class="m-figure">
            <img class="m-figure__figure" src="/images/fake-hospital.png">
            <figcaption class="m-figure__figure-cap">粤北人民医院34</figcaption>
          </figure>
        </div>
        
      </div>
      
    </div>
    <ul>
      <li>
        <p>
          <span class="count-up">23</span>
          <span>个</span>
        </p>
        <p>覆盖省份</p>
      </li>
      <li>
        <p>
          <span class="count-up">300</span>
          <span>+</span>
        </p>
        <p>服务医院</p>
      </li>
      <li>
        <p>
          <span class="count-up">1000000</span>
          <span>+</span>
        </p>
        <p>服务用户</p>
      </li>
      <li>
        <p>
          <span class="count-up">20000000</span>
          <span>+</span>
        </p>
        <p>提供智慧医疗服务</p>
      </li>
    </ul>
  </div>
</main>

<footer class="footer">
  <div class="g-container">
    <section class="product">
      <h4>产品与服务</h4>
      <ul>
        <li>
          <a href="#">智慧医院</a>
        </li>
        <li>
          <a href="#">hicare</a>
        </li>
        <li>
          <a href="#">云医院</a>
        </li>
        <li>
          <a href="#">hifond</a>
        </li>
        <li>
          <a href="#">云速</a>
        </li>
      </ul>
    </section>
    <section class="gzhc">
      <h4>走进海鹚</h4>
      <ul>
        <li>
          <a href="#">关于海鹚</a>
        </li>
        <li>
          <a href="">团队风采</a>
        </li>
        <li>
          <a href="">公司大记事</a>
        </li>
        <li>
          <a href="">加入我们</a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <h4>联系我们</h4>
      <ul>
        <li>咨询热线：020-83986192</li>
        <li>邮箱：public@gzhc365.com</li>
        <li>
          地址：<p>广东省广州市天河区马场路庆亿街1号<br>珠光•新城国际中心A座706单元</p>
        </li>
      </ul>
    </section>
    <section class="follow">
      <h4>关注我们</h4>
      <img src="/images/qr-code1.png">
      <img src="/images/qr-code2.png">
    </section>
    <hr>
    <p>Copyright ©️ 2014-2016 All Rights Reserved 广州海鹚网络科技有限公司 粤ICP备14046693号-1 粤公网安备 44010602000461</p>
  </div>
</footer>

<script src="/js/cooperative-patterns.js"></script>
</body>
</html>