<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>智慧医院</title>
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="stylesheet" href="/css/products-wisdom-hospital.css">
</head>
<body>

<header class="header">
  <div class="g-container">
    <div>
      <a class="logo-wrap" href="/"><img src="/images/logo.png" alt="首页"></a>
      <span class="f-fs-24 f-color-primary">广州海鹚网络科技有限公司</span>
      <button type="button" class="u-nav-toggle">
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
        <span class="u-nav-toggle__bar"></span>
      </button>
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <span class="u-link active">产品与服务</span>
          <nav id="sub-nav" class="f-none">
            <a class="sub-nav__link" href="/products/wisdom-hospital">智慧医院</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">Hicare</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">云医院</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">Hifond</a>
            <a class="sub-nav__link" href="/products/wisdom-hospital">云速</a>
          </nav>
        </li>
        <li class="nav-item"><a class="u-link" href="/cooperation/wisdom-hospital">合作案例</a></li>
        <li class="nav-item"><a class="u-link" href="/introduction">走进海鹚</a></li>
        <li class="nav-item"><a class="u-link" href="/join">加入我们</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="main f-bg-info f-color-primary">
  <div class="g-container">
    
    <h2 class="f-fs-30 f-fw-400">智慧医院</h2>
    
    <nav id="nav-left">
      <a class="website u-btn active" href="javascript:void(0);">微网站</a>
      <a class="treatment u-btn" href="javascript:void(0);">微就诊</a>
      <a class="remind u-btn" href="javascript:void(0);">微提醒</a>
      <a class="service u-btn" href="javascript:void(0);">特色服务</a>
    </nav>
    
    <img src="/images/products/phone.png" width="230">
    <div class="image-slider-wrap">
      <div id="image-slider">
        <img src="/images/products/website1.png" width="204" height="362.8">
        <img src="/images/products/website2.png" width="204" height="362.8">
        <img src="/images/products/website3.png" width="204" height="362.8">
        <img src="/images/products/website4.png" width="204" height="362.8">
      </div>
    </div>
    
    
    <div id="intro">
      <div class="0 f-pdtb-20 f-pdlr-30">
        <h5 class="f-fs-14">医院介绍</h5>
        <p class="f-mgt-10 f-fs-12">为患者展示医院基本信息，包括医院级别、历史、规模、荣誉、联系方式等。</p>
      </div>
      <div class="1 f-pdtb-20 f-pdlr-30">
        <h5 class="f-fs-14">科室介绍</h5>
        <p class="f-mgt-10 f-fs-12">为患者展示科室基本信息，包括科室级别、发展历史、团队组成、医疗技术、联系方式、科室位置等。</p>
      </div>
      <div class="2 f-pdtb-20 f-pdlr-30">
        <h5 class="f-fs-14">医生介绍</h5>
        <p class="f-mgt-10 f-fs-12">为患者展示医生基本信息，包括医生照片、姓名、头衔、所擅专长等。</p>
      </div>
      <div class="3 f-pdtb-20 f-pdlr-30">
        <h5 class="f-fs-14">来院导航</h5>
        <p class="f-mgt-10 f-fs-12">为患者展示来院线路图导航，指引患者及家属来院。</p>
      </div>
      <p class="f-mgt-35 f-mgl-30 f-fs-14 f-color-info">除此之外，微网站还为医院提供楼群分布、服务指南等功能，并可根据医院要求进行定制化开发。</p>
    </div>
  
  
  </div>
</main>

<script src="/js/melon.js"></script>
<script src="/js/products-wisdom-hospital.js"></script>
</body>
</html>